<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Styles/Site/Site.css" rel="stylesheet" />
    <link href="~/Content/Librerias/Bootstrap/Themes/Solar/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Librerias/Alertify/alertify.css" rel="stylesheet" />
    <link href="~/Content/Styles/Account/all.css" rel="stylesheet" />
    <link href="~/Content/Librerias/FullCalendar/main.css" rel="stylesheet" />
    <link href="~/Content/Librerias/JQuery.UI/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/Content/Librerias/JQuery.UI/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/Content/Librerias/DataTables/datatables.css" rel="stylesheet" />
    <link href="~/Content/Librerias/DataTables/responsive.dataTables.css" rel="stylesheet" />
    <link href="~/Content/Imagenes/favicon.ico" rel="icon" type="image/x-icon" sizes="16x16">
    <link href="~/Content/Imagenes/favicon.ico" rel="icon" type="image/x-icon" sizes="32X32">
    <link href="~/Content/Imagenes/favicon.ico" rel="icon" type="image/x-icon" sizes="16x16 32x32">
    <link href="~/Content/Librerias/DataTables/rowGroup.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    <script src="~/Content/Librerias/JQuery/JQuery-3.5.1.slim.js"></script>
    <script src="~/Content/Librerias/Impresoras/Impresora.js"></script>
    <script src="~/Content/Librerias/Bootstrap/bootstrap.js"></script>
    <script src="~/Content/Librerias/Bootstrap/bootstrap.bundle.js"></script>
    <script src="~/Content/Librerias/Alertify/alertify.js"></script>
    <script src="~/Content/Librerias/FullCalendar/main.js"></script>
    <script src="~/Content/Librerias/FullCalendar/locales/es.js"></script>
    <script src="~/Content/Librerias/JQuery.UI/jquery-ui.js"></script>
    <script src="~/Scripts/General/CreaFormulario.js"></script>
    <script src="~/Content/Librerias/JQuery.UI/TimePicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Content/Librerias/JQuery.UI/TimePicker/jquery-ui-timepicker-es.js"></script>
    <script src="~/Content/Librerias/JQuery.UI/jquery.ui.datepicker-es.js"></script>
    <script src="~/Content/Librerias/DataTables/datatables.js"></script>
    <script src="~/Content/Librerias/DataTables/dataTables.responsive.js"></script>
    <script src="~/Scripts/General/ClsResultado.js"></script>
    <script src="~/Scripts/General/ClsTicket.js"></script>
    <script src="~/Content/Librerias/JQuery.BlockUI/jquery.blockUI.js"></script>
    <script src="~/Scripts/General/ClsConfiguracion.js"></script>
    <script src="~/Content/Librerias/DataTables/dataTables.rowGroup.min.js"></script>
    @{ Html.RenderAction("MenuBar", "Home"); }
    <div>
        <br />
        @RenderBody()
    </div>
    <script type="text/javascript">
        $(function () {
            $('.nav-link').trigger("click");
            $(".nav-link").blur();

            let Resultado = ObjetoResult.Constructor({
                ObjetoResultado: '@Html.Raw(TempData["Resultado"])'
            });
            Resultado.GeneraMensaje();
        });
    </script>
</body>
</html>