<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    @{
        bool Web = (Boolean)TempData["Web"];
        if (Web)
        {
            <link href="~/Content/Styles/Site/Site.css" rel="stylesheet" />
            <link href="~/Content/Librerias/Bootstrap/Themes/Solar/bootstrap.css" rel="stylesheet" />
            <link href="~/Content/Styles/Account/all.css" rel="stylesheet" />
            <link href="~/Content/Librerias/JQuery.UI/jquery-ui.theme.css" rel="stylesheet" />
            <link href="~/Content/Librerias/JQuery.UI/jquery-ui.structure.css" rel="stylesheet" />
            <link href="~/Content/Imagenes/favicon.ico" rel="icon" type="image/x-icon" sizes="16x16">
            <link href="~/Content/Imagenes/favicon.ico" rel="icon" type="image/x-icon" sizes="32X32">
            <link href="~/Content/Imagenes/favicon.ico" rel="icon" type="image/x-icon" sizes="16x16 32x32">
            <link href="~/Content/Styles/Site/Reportes.css" rel="stylesheet" />
        }
    }
</head>
<body>
    @RenderBody()
</body>
</html>
