
<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="@Url.Content("~/Content/Imagenes/Kuup/logo.png")" style="width: 200px;">
            </div>
            <div class="col">
                <div class="text-center text-center-abajo">
                    <h3>Sistema de Inventario y Ventas Kuup</h3>
                    <h6>Desarrollado por SIR</h6>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</header>
