html {
    min-height: 100%;
    position: relative;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: url(../../Imagenes/Fondo/Kuup.jpeg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-position: top;
    background-attachment: fixed;
    margin: 0;
    margin-bottom: 40px;
    /*overflow: hidden;*/
}

#Calendario {
    max-width: 1100px;
    margin: 40px auto;
}

.ContenedorCalendario {
    background: #080f19;
    opacity: 65%;
}

.margin404 {
    margin-top: 50px;
}

.jumbotron-notfund {
    background: #080f19;
    opacity: 65%;
    color: white;
}

.from-group-margin {
    padding-bottom: 15px;
}

.Oculto {
    display: none;
}

.custom-switch-padding {
    padding-left: 3rem !important;
}
form label {
    color: #333333;
}
.form-row-site {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.captura-requerida {
    color: #333333 !important;
    font-weight: bold !important;
}
.TituloPagina {
    text-align: center;
    color:black;
    font-weight: bold;
}
.aling-center {
    text-align: center;
}
#MenuBar{
    min-height: 100vh;
}
#MenuBar .logo {
    padding: .875rem 1.25rem;
}
#MenuBar .menu {
    width: 18rem;
}
.btn-seach {
    right: 9px;
}
.text-color-site {
    color: #333333;
}
.color-label-white {
    color: white !important;
}
footer {
    background-color: #073642 !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align:center;
}
footer p {
    margin-bottom: 0px !important;
}    
#mensajeVencimiento{
    text-align: justify;
    width: 300px;
}
/*.container-form {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}*/